$white: #fff;
$solid-white: #FAF9F8;
$black: #000;
$blue: #53B2DC;
$darkblue: #0061ff;
$grey: #D7D7D7;
$grey2: #e9edf2;
$green: #00832d;

$text-color: #3b454f;

$box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08);

$rounded-sm: 2px;
$rounded: 4px;