.btn{
	position:relative;
	display: inline-block;
	border: none; outline: none; 
	text-decoration:none;
	font-size: 14px;
	letter-spacing: 0;
	padding: 7px 16px 5px;
	transition: .2s ease;
	&.big{
		font-size: 16px;
		padding: 12px 25px 10px;
	}
}
.btn-primary{
	color: #fff;
	background-color: $blue;
	font-weight: 700;
	display: inline-block;
}

.btn-open-detail{
	width: 20px;
	height: 20px;
}


@media screen and (min-width: 768px){
	.btn-primary{
		transition: .3s ease;
		&:hover{
			background-color: darken($blue, 5%);
		}
	}
}