.input-check{
	display: none;
	& + label{
		font-size: 14px;
		color: #464646;
		letter-spacing: 0;
		padding-left: 21px;
		position: relative;
		cursor: pointer;
		margin: 0;
		line-height: 19px;
		&:before{
			content: '';
			width: 15px;
			height: 15px;
			background: #FFFFFF;
			border: 1px solid #979797;
			position: absolute;
			left: 0;
			top: 3px;
		}
		&:after{
			content: '';
			width: 11px;
			height: 9px;
			background-image: url('../images/ico-check.svg');
			background-position: center;
			background-size: 11px;
			position: absolute;
			left: 2px;
			top: 6px;
			z-index: 1;

			display: none;
		}
	}
	&:checked,
	&.checked{
		& + label{
			&:after{
				display: block;
			}
		}
	}
}

.input-radio{
	display: none;
	& + label{
		font-size: 14px;
		color: #464646;
		letter-spacing: 0;
		padding-left: 21px;
		position: relative;
		cursor: pointer;
		margin: 0;
		transition: .4s ease;
		line-height: 19px;
		&:before{
			content: '';
			width: 15px;
			height: 15px;
			background: #FFFFFF;
			border: 1px solid rgba(70,70,70,0.48);
			border-radius: 100%;
			position: absolute;
			left: 0;
			top: 3px;
			transition: .4s ease;
		}
		&:after{
			content: '';
			width: 15px;
			height: 15px;
			background: $blue;
			border-radius: 100%;
			position: absolute;
			left: 0;
			top: 3px;
			transition: .4s ease;
			transform: scale(0);
		}
	}
	&:checked,
	&.checked{
		& + label{
			&:before{
				border: 1px solid $blue;
			}
			&:after{
				transform: scale(.6);
			}
		}
	}
}