@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

.opensans{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.lato{
	font-family: 'Lato', sans-serif;
}