.footer{
	margin-top: 50px;
	padding: 30px 0;
	background-color: $blue;
	color: $white;
	.menu{
		.menu-item{
			display: block;
			font-weight: 600;
			padding: 4px 0;
		}
	}

	.footer-right{
		width: 100%;
		max-width: 300px;
	}

	.input-wrapper{
		&:not(:last-child){
			margin-bottom: 10px;
		}
		label{
			margin-bottom: 3px;
			display: block;
		}
	}

	select.form-control{
		font-size: 12px;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background-image: url('../images/ico-chevron-down.svg');
		background-position: 98% center;
		background-repeat: no-repeat;
	}
}


@media screen and (max-width: 768px){
	.footer{
		padding-top: 20px;
		padding-bottom: 70px;

		.flex.between{
			flex-direction: column;
		}

		.footer-right{
			margin-top: 30px;
			max-width: 200px;
		}
	}
}