input, textarea, select {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color: $text-color;         
	border: 1px solid $grey;
	border-radius: $rounded-sm;
	padding: 5px 10px;
	-webkit-appearance: none;
	vertical-align: middle;
	outline: 0;
	width:auto;
	height: 33px;        
	&:focus,
	&:active
	{}
	&::placeholder { 
		color: $grey;
		opacity: .7; 
	}

	&:-ms-input-placeholder {
		color: $grey;
	}

	&::-ms-input-placeholder {
		color: $grey;
	}
	&.small{
		font-size:11px;
		padding:5px 10px;
		height:35px;
	}
}
textarea{ 
	height:auto;
	resize: none;
	&.small{ height:auto; padding:10px; }
}