.header{
	width: 100%;
	min-height: 50px;
	padding: 10px 0;
	background-color: red;

	position: fixed;
	top: 0;
	left: 0;

	background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border-bottom: 1px solid #e9edf2;
    z-index: 8;
}


@media screen and (max-width: 768px){
	.header{
		.content{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}