.navbar{
	display: flex;
	align-items: center;
	.navbar-item{
		margin: 0 15px;
		&.has-child{
			position: relative;
			&.active{
				.navbar-dropdown{
					opacity: 1;
					visibility: visible;
				}
			}
			.navbar-item-button{
				cursor: pointer;
			}
		}
		.navbar-item-button{
			text-transform: uppercase;
			letter-spacing: .4px;
			&.with-icon{
				display: flex;
				align-items: center;
				i{
					margin: 2px 5px 0;
					flex-shrink: 0;
				}
			}
			&.icon-only{
				i{
					font-size: 22px;
					flex-shrink: 0;
				}
			}
		}
		&:last-child{
			margin-right: 0;
			&.has-child{
				.navbar-item-button{
					&.icon-only{
						& + .navbar-dropdown{
							right: -14px;
						}
					}
				}
				.navbar-dropdown{
					right: 0;
					left: initial;
					&:before{
						right: 20px;
						left: initial;
					}
				}
			}
		}
	}
	.navbar-dropdown{
		opacity: 0;
		visibility: hidden;
		background-color: $white;
		box-shadow: 0px 2px 24px rgba(156, 143, 116, 0.24);
		min-width: 200px;
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		transition: .3s ease;
		padding: 10px 12px;
		border-radius: $rounded-sm;
		&:before{
			content: '';
			width: 0; 
			height: 0; 
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;

			border-bottom: 6px solid $white;

			position: absolute;
			bottom: 100%;
			left: 20px;
		}
		.navbar-dropdown-item{
			display: block;
			padding: 5px 0;
			.navbar-dropdown-link{
				transition: .3s ease;
				&:hover{
					color: $blue;
				}
			}
		}
	}
	.account-name{
		font-size: 12px;
		margin: -10px -12px 5px;
		padding: 10px 12px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}

@media screen and (min-width: 769px){

}