.collapsible{
	background-color: $white;
	box-shadow: $box-shadow;
	border-radius: $rounded-sm;
	.collapsible-item{
		&:first-child{
			.collapsible-head{
				border-top-left-radius: $rounded-sm;
				border-top-right-radius: $rounded-sm;
			}
		}
	}
	.collapsible-head{
		padding: 12px 14px;
		background-color: lighten($blue, 5%);
		color: $white;
		position: relative;
		border-bottom: 1px solid darken($blue, 5%);
		.fa-chevron-down,
		.fa-chevron-up{
			transition: .3s ease;
		}
		&.collapse{
			.fa-chevron-down,
			.fa-chevron-up{
				transform: rotate(-180deg);
			}
		}
	}
	.collapsible-body{
		padding: 12px 14px;	
		span,
		small{
			user-select: none;
		}
	}
	.collapsible-button{
		cursor: pointer;
	}
}

.card{
	background-color: $white;
	box-shadow: $box-shadow;
	.card-header,
	.card-body	{
		padding: 10px 12px;
	}
	.card-header{
		border-bottom: 1px solid $grey;
	}
}

i.google-drive{
	color: $green;
}
i.dropbox{
	color: $darkblue;
}

.sticky-button-mobile{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	box-shadow: 0px -3px 33px -2px rgba(0,0,0,0.1);
	.btn{
		padding: 16px 25px 14px;
	}
}
.sticky-button-mobile{
	display: none;
}


.drawer-button{
	cursor: pointer;
}
.drawer-detail-item{
	opacity: 0;
	visibility: hidden;
	height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	width: 360px;
	position: fixed;
	right: -360px;
	top: 0;
	background-color: $white;
	box-shadow: -1px 0 0 rgba(0,0,0,.05), -5px 0 30px #e9edf2;
	z-index: 12;
	transition: .3s ease;
	&.active{
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	&.google-drive{
		.drawer-head{
			border-top: 5px solid $green;
		}
		.drawer-title-copy{
			.title{
				color: $green;
			}
		}
		.drawer-detail-button{
			.btn{
				background-color: $green;
				color: $white;
			}
		}
	}
	&.dropbox{
		.drawer-head{
			border-top: 5px solid $darkblue;
		}
		.drawer-title-copy{
			.title{
				color: $darkblue;
			}
		}
		.drawer-detail-button{
			.btn{
				background-color: $darkblue;
				color: $white;
			}
		}
	}
	.drawer-title-avatar{
		width: 50px;
	}
	.drawer-title-copy{
		width: calc(100% - 65px);
		.title,
		small{
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		small{
			color: #8b9bad;
		}
	}
	.drawer-head{
		padding: 14px;
		position: relative;
		i.fab{
			font-size: 16px;
		}
		.drawer-close{
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			i{
				font-size: 20px;
			}
		}
		.file-name{
			display: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.drawer-body{
		overflow-y: auto;
		height: calc(100% - 93px);
		.drawer-body-group{
			padding: 18px 14px;
			&:not(:last-child){
				border-bottom: 1px solid $grey2
			}
			.drawer-body-group-content{
				font-size: 13px;
				line-height: 20px;
				color: #647487;
				p{
					line-height: inherit;
					font-size: inherit;
				}
			}
		}
		.participant-list{
			.participant-list-item{
				&:not(:last-child){
					margin-bottom: 8px;
				}
				.participant-avatar{
					width: 30px;
					height: 30px;
					background-color: #258bf8;
					border-radius: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					color: $white;
				}
				.participant-bio{
					small{
						display: block;
					}
					.status{
						opacity: .75;
					}
				}
			}
		}
	}
	.drawer-detail-button{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}


.loader{
	text-align: center;
	margin: 20px 0;
}

@media screen and (max-width: 768px){
	.space-sticky-button-mobile{
		padding-bottom: 55px;
	}
	.sticky-button-mobile{
		display: block;
	}
}

@media screen and (max-width: 520px){
	.drawer-detail-item{
		width: 100%;
		right: initial;
		left: 100%;
		&.active{
			left: 0;
		}
	}
}