.pagination{
	.pagination-ul{
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.pagination-li{
			background-color: $white;
			border: 1px solid $grey2;
			&:not(:last-child){
				margin-right: 10px;
			}
			&.active{
				background-color: $blue;
				color: $white;
			}
			.pagination-a{
				font-size: 12px;
				min-width: 20px;
				min-height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				padding: 4px 8px;
			}
		}
	}
}