.tag{
	padding: 2px 5px;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: .4px;
    border-radius: $rounded-sm;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $grey2;
    &.google-drive{
    	background-color: $green;
    	color: $white;
    }
    &.dropbox{
    	background-color: $darkblue;
    	color: $white;
    }
}

.tag-list{
	.tag{
		&:not(:last-child){
			margin-right: 4px;
		}
	}
}