.search-main{
	.search-filter{
		width: 320px;
	}
	.search-result{
		width: 100%;
	}
}

.search-bar{
	flex-grow: 1;
	width: 100%;
	max-width: 670px;
	margin-bottom: 0 15px;
	position: relative;
}
.search-bar-input{
	position: relative;
	input[type="text"]{
		width: 100%;
		position: relative;
		z-index: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.search-button{
	margin: auto;
	z-index: 1;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 0 8px;
	color: darken($grey, 30%);
	height: 33px;
	border: 1px solid #d7d7d7;
	border-left: 0;
	border-top-right-radius: $rounded-sm;
	border-bottom-right-radius: $rounded-sm;
}
.search-bar-item-link{
	padding: 5px 10px;
	transition: .3s ease;
	&:hover{
		background-color: $solid-white;
	}
}
.search-bar-result{
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	margin-top: 10px;
	z-index: 5;

	display: none;
}
.search-history{
	.search-history-item{
		.fa-clock{
			width: 26px;
			height: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.search-bar-item-link{
			padding-right: 30px;
			position: relative;
			&:after{
				content: '';
				background-image: url('../images/arrow-diagonal.svg');
				width: 18px;
				height: 12px;
				position: absolute;
				right: 10px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}
.search-suggestion{
	.search-suggestion-item{
		.item-link{
			padding-left: 15px;
			&:hover{
				background-color: inherit;
				color: $blue;
			}
		}	
	}
}
.search-bar-mobile{
	@extend .search-bar;
	display: none;
}
.search-popup-mobile{
	background-color: $white;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	z-index: 10;
	padding: 10px 12px;
	display: none;
	&.show{
		display: block;
	}
	.search-popup-back{
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
	.search-bar-item-link {
		padding: 8px 0;
	}
	.card{
		box-shadow: none;
		border-radius: 0;
	}
	.search-suggestion{
		.search-bar-item-link {
			padding: 8px 9px;
		}	
	}
	.search-bar-result{
		position: relative;
		top: 0;
	}
}


.filter-list{
	margin: 0;
	.filter-list-item{
		padding: 4px 0;
	}
	.custom-filter-last-added{
		display: none;
		.input-wrapper{
			padding-left: 16px;
			padding-top: 8px;
		}
		input{
			border: 1px solid $grey;
			height: 26px;
			border-radius: $rounded-sm;
			padding: 7px;
			outline: 0;
			font-size: 12px;
			color: $text-color;
		}
	}
}

.manage-source{
	.card{
		.card-header,
		.card-body{
			padding: 12px;
		}
	}
	.source-item{
		&:not(:last-child){
			margin-bottom: 6px;
		}
	}
}

.timeline{
	.timeline-item{
		position: relative;
		&:not(:last-child){
			margin-bottom: 16px;
		}
		&.active{
			.card{
				background-color: lighten($blue, 35%);
			}
		}
		.card{
			transition: .3s ease;
		}
		.timeline-thumb{
			background-color: #dae2eb;
			width: 60px;
			height: 60px;
		}
		.preview-title{
			transition: .3s ease;
		}
		.document-preview{
			padding: 10px;
			background-color: $solid-white;
			border-radius: $rounded;
			.preview-title{
				line-height: 26px;
			}
			.preview-desc{
				line-height: 21px;
				color: #536170;
			}
		}
		.preview-link{
			&:hover{
				.preview-title{
					color: $blue;
				}
			}
		}
		&:hover{
			.btn-open-detail{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
	.btn-open-detail{
		position: absolute;
		top: 10px;
		right: 12px;
		z-index: 3;
		transition: .3s ease;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		img{
			transition: .3s ease;
			opacity: .6;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.filter-mobile{
	display: none;
	background-color: $white;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	&.show{
		display: block;
	}
	.filter-mobile-header{
		padding: 12px 14px;
	}
	.filter-mobile-close{
		font-size: 20px;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.filter-mobile-body{
		overflow: auto;
	}
}


@media screen and (max-width: 768px){
	.search-bar-mobile{
		display: block;
	}
	.search-bar-input{
		input[type="text"]{
			height: 40px;
		}
	}

	.filter-mobile{
		z-index: 10;
	}

	.timeline{
		.timeline-item{
			.document-preview{
				.preview-title{
					font-size: 16px;
					line-height: 22px;
				}
				.preview-desc{
					line-height: 18px;
					font-size: 12px;
				}
			}
		}
		.btn-open-detail{display: none;}
	}
}