.login-wrapper{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding: 30px 0;
	.login-container{
		background-color: $white;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		padding: 26px;
	}
	.input-wrapper{
		margin-bottom: 15px;
	}
	.show-pass-wrapper{
		position: relative;
		input{
			padding-right: 30px;
		}
		.btn-show-pass{
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			width: 33px;
			height: 33px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .2s ease;
			&:hover{
				color: $blue;
			}
		}
	}
	.login-option{
		padding: 16px;
		background-color: #e6f0fc;
		border-color: #006DEF;
		.link{
			color: darken($blue, 15%);
		}
	}
	.login-with{
		.btn{
			color: #005ec4;
			background-color: rgba(0,109,228,.2);
			border-radius: $rounded;
			transition: .2s ease;
			&:hover{
				background-color: rgba(0,109,228,.25);
			}
		}
	}
}

@media screen and (max-width: 768px){
	.login-wrapper{
		padding: 0;
		background-color: $white;
		.login-container{
			box-shadow: none;
			padding: 26px 6px;
		}
	}
	.copyright{
		margin-top: 0;
	}
}